<div class="main-header">
    <nav class="navbar navbar-header navbar-expand-lg">
        <div class="container-fluid d-flex justify-content-center">
            <h3>DYNAMIC CONFIGURATION MANAGEMENT SYSTEM</h3>
        </div>
    </nav>
</div>
