@model UpdateConfigurationDto

<div class="content">
	<div class="container-fluid">
		<h4 class="page-title">Update Configuration </h4>
		<div class="row">
			<div class="col-md-12">
				<form method="post">
					<input type="hidden" asp-for="IsActive" value="true" />
					<div class="card">
						<div class="card-header">
							<div class="card-title"></div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="applicationName">Application Name</label>
								<input type="text" class="form-control" asp-for="ApplicationName" id="applicationName">
							</div>
						</div>
						<div class="card-body">
							<div class="form-group">
								<label for="name">Name</label>
								<input type="text" class="form-control" asp-for="Name" id="name">
							</div>
						</div>
						<div class="card-body">
							<div class="card-body">
								<div class="form-group">
									<label for="type">Select Type</label>
									<select class="form-select" id="type" asp-for="Type" onchange="handleTypeChange()">
										<option value=""></option>
										<option value="int">Integer</option>
										<option value="string">String</option>
										<option value="bool">Boolean</option>
										<option value="double">Double</option>
									</select>
								</div>
							</div>

							<div class="card-body">
								<div class="form-group">
									<label for="value">Value</label>

									<input type="text" class="form-control" asp-for="Value" id="value" placeholder="Enter value">

									<select class="form-select" id="boolSelect" style="display:none;" onchange="setValueFromSelect()">
										<option value="true">True</option>
										<option value="false">False</option>
									</select>
								</div>
							</div>
						</div>
						<div class="card-action">
							<button class="btn btn-success">Update</button>
						</div>
					</div>
				</form>
			</div>

		</div>
	</div>
</div>

<script>
	function handleTypeChange() {
		var selectedType = document.getElementById("type").value;
		var inputField = document.getElementById("value");
		var boolSelect = document.getElementById("boolSelect");

		boolSelect.style.display = "none"; 
		inputField.style.display = "block"; 

		
		if (selectedType === "int") {
			inputField.type = "number";
			inputField.placeholder = "Enter an integer";
			inputField.value = ""; 
		} else if (selectedType === "double") {
			inputField.type = "number";
			inputField.step = "any";
			inputField.placeholder = "Enter a double";
			inputField.value = ""; 
		} else if (selectedType === "bool") {
			inputField.style.display = "none"; 
			boolSelect.style.display = "block"; 
			boolSelect.value = "";
		} else {
			inputField.type = "text";
			inputField.placeholder = "Enter a string";
			inputField.value = ""; 
		}
	}

	function setValueFromSelect() {
		var boolSelect = document.getElementById("boolSelect");
		var inputField = document.getElementById("value");

	
		inputField.value = boolSelect.value;
	}

</script>
