@model List<string>

<div class="sidebar">
	<div class="scrollbar-inner sidebar-wrapper">
		<ul class="nav">
			<div class="user">
				<div class="info container-fluid d-flex justify-content-center">
						<a class="" aria-expanded="true">
						<span>
							<b>APPLICATIONS</b>
							</span>
						</a>
				</div>
			</div>

			@foreach (var applicationName in Model)
				{
				<li class="container-fluid d-flex justify-content-center">
					@Html.ActionLink(applicationName, "GetByApplicationName", "Configuration", new { applicationName = applicationName }, null)
				</li>
				}
		 </ul>
	</div>
</div>
